.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.margin-top{
    margin-top:20px; 
}

tr td.edit{
    display: none;
}

tr.editing td.view{
    display: none;
}

tr.editing td.edit{
    display: block;
}

.force-parent-lh {
  line-height: inherit !important;
}

.selected .smile{
    color: #3ADF00;
    opacity: 1;
}

.selected .meh {
    color: #A4A4A4;
    opacity: 1;
}

.selected .frown{
    color: #FFFF00;
    opacity: 1;
}

.selected .smile:hover{
    color: #3ADF00;
    opacity: 1;
}

.selected .meh:hover {
    color: #A4A4A4;
    opacity: 1;
}

.selected .frown:hover{
    color: #FFFF00;
    opacity: 1;
}


.smile{
    color: #3ADF00;
    opacity: 0.1;
}

.meh {
    color: #A4A4A4;
    opacity: 0.1;
}

.frown {
    color: #FFFF00;
    opacity: 0.1;
}

.smile:hover{
    color: #3ADF00;
    opacity: 0.5;
}

.meh:hover {
    color: #A4A4A4;
    opacity: 0.5;
}

.frown:hover {
    color: #FFFF00;
    opacity: 0.5;
}