<html>

<head>
    <meta charset="utf-8">
    <title>tt</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/tt.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
</head>
{% raw %}
<script>
    $(window).bind('beforeunload', function(){ 
    return 'Are you sure to leave this page?'; 
});
</script>
<body>
    <div class="container">
        <h1>TimeTracker</h1>

        <div id="ttapp">
            <!--input box here-->
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="newText" @keyup.enter="addItem">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="addItem">Go!</button>
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#fullJson">Show Data</button>
                        <button class="btn btn-default" type="button" @click="saveData">Save</button>
                        <button class="btn btn-default" type="button" @click="loadData">Load</button>
                    </span>
                </div>
            </div>

            <div class="margin-top">
                <div id="fullJson" class="row collapse">
                
                <textarea name="" class="form-control" cols="30" rows="10">
                    {{fullJson}}
                </textarea>
                </div>
            </div>

            <!--calendar switcher-->
            <div class="margin-top">
                <div class="row text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" @click="jumpToPreviousDay">
                            <i class="force-parent-lh fa fa-chevron-left" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-default">{{formattedSelectedDate}}</button>
                        <button type="button" class="btn btn-default" @click="jumpToToday">
                            <i class="force-parent-lh fa fa-calendar-check-o" aria-hidden="true"></i>
                        </button>
                         <button type="button" class="btn btn-default" @click="jumpToNextDay">
                            <i class="force-parent-lh fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!--detail table here-->
            <div class="margin-top">
                <div class="row">
                    <table class="table">
                        <tr>
                            <th class="col-md-4">Item Text</th>
                            <th class="col-md-2">Start Time</th>
                            <th class="col-md-2">End Time</th>
                            <th class="col-md-1">Tags</th>
                            <th class="col-md-1">Persons</th>
                            <th class="col-md-1">Status</th>
                            <th class="col-md-1">Delete</th>
                        </tr>
                        <tr v-for="item in filteredItems" :class="{editing: item == editedItem}">
                            <td class="col-md-11 edit">
                                <input type="text" class="form-control" 
                                    v-model="item.rawText" 
                                    @blur = "cancelEdit(item)"
                                    @keyup.esc="cancelEdit(item)"
                                    v-item-focus="item==editedItem"
                                    @keyup.enter = "doneEdit(item)"
                                >
                            </td>
                            <td class="view" @dblclick="editItem(item)">{{item.itemText}}</td>
                            <td class="view">{{item.startTimeStr}}</td>
                            <template v-if="item.completed">
                                <td class="view">{{item.endTimeStr}}</td>
                            </template>
                            <template v-else>
                                <td class="view">
                                    <button class="btn btn-default" type="submit" @click="completeItem(item)">Done</button>
                                </td>
                            </template>
                            
                            <td class="view">{{item.tags}}</td>
                            <td class="view">{{item.persons}}</td>
                            <td class="view">{{item.status}}</td>
                            <td>
                                <button class="btn btn-default" type="submit" @click="removeItem(item)">
                                    <i class="fa fa-times" aria-hidden="true" ></i>
                                </button>
                            </td>                            
                        </tr>

                    </table>

                </div>
            </div>





        </div>
    </div>

    <script type="text/javascript" src="static/js/vue.js"></script>
    <script type="text/javascript" src="static/js/vue-resource.js"></script>
    <script type="text/javascript" src="static/js/tt.js"></script>
</body>
{% endraw %}
</html>