<html>

<head>
    <meta charset="utf-8">
    <title>TodoMvc</title>
    <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
    <style> [v-cloak] { display: none; } </style>
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>Todos</h1>
            <input type="text" class="new-todo"
                v-model = "newTodo"
                @keyup.enter="addTodo"
            >
        </header>
        <!-- todo, add v tags -->
        
        <section class="main">
        <input type="checkbox" class="toggle-all">
        <ul class="todo-list">
            <li class="todo"
                v-for="todo in filteredTodos"
                :class="{completed: todo.completed, editing: todo == editedTodo}"
            >
                <div class="view">
                    <input type="checkbox" class="toggle" v-model="todo.completed">
                    <label @dblclick="editTodo(todo)"> {{todo.title}} </label>
                    <button class="destroy" @click="removeTodo(todo)"></button>
                </div>
                <input type="text" class="edit"
                    v-model="todo.title"
                    v-todo-focus="todo==editedTodo"
                    @blur="doneEdit(todo)"
                    @keyup.enter="doneEdit(todo)"
                    @keyup.esc="cancelEdit(todo)"
                >
            </li>
        </ul>
        </section>
        <footer class="footer">
            <span class="todo-count">
                <strong v-text="remaining"></strong> {{remaining | pluralize 'item'}} left
            </span>
        </footer>

    </section>
    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/javascript" src="js/mytodo.js"></script>
</body>

</html>